<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.lit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiT"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.LightsDetailadminActivity"></activity>
        <activity android:name=".activities.ViewRoomsAdminActivity" />
        <activity android:name=".activities.LightDetailsActivity" />
        <activity android:name=".activities.ViewRoomsUserActivity" />
        <activity android:name=".activities.register.GuestRegisterActivity" />
        <activity android:name=".activities.login.GuestLoginActivity" />
        <activity android:name=".activities.register.AdminRegisterActivity" />
        <activity android:name=".activities.dashboard.GuestDashBoardActivity" />
        <activity android:name=".activities.dashboard.AdminDashBoardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.login.AdminLoginActivity" />
        <activity android:name=".activities.WelcomeActivity" />
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>